./env
.env
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz
*.pyz
*.pyz
*.pyz
7517099651
database/bot.db
database/bot.db-shm
database/bot.db-wal
database/bot.db-journal
database/bot.db-lock
database/bot.db-lock-journal
database/bot.db-lock-wal
database/bot.db-lock-shm
database/bot.db-lock-wal

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz
*.pyz
*.pyz
*.pyz

